/.gradle/
/.settings/
.project
.classpath
/resources/
/build/
compiler/build
ir/build
/bin/
compiler.jar
./DrAST-1.2.2.jar
DrAST.cfg
tests/**/*.out
/tests/output/
tests/evaluation/bottomupout/*
/out/
/tmp/
/src/gen
**/*~
**/*.orig
**/.settings
compiler/bin
*.out
/TODO.org
/compiler/teal-*.jar
**/_*.jrag
**/_*.teal
/teal-*.jar
/old/
/libs/code-prober-dev.jar
/libs/code-prober-stable.jar
